<!DOCTYPE html>
<html>
<head>
    <title>Account - View All</title>
</head>
    <body>
        <h1>Accounts</h1>

        <table border="1">
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>

            <% for(i = 0; i < account.length; i++) { %>

            <tr>
                <td><%= account[i].account_id %></td>
                <td><%= account[i].email %></td>
                <td><%= account[i].first_name %></td>
                <td><%= account[i].last_name %></td>
            </tr>
            <% } %>
        </table>
    </body>
</html>