<!DOCTYPE html>
<html>
<head>
    <title>Account - Add</title>
</head>
<body>
<h1>Add New Account</h1>

<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">

    Email: <input id="email" name="email" value="<%= account.email %>">
    <br>
    First Name: <input id="first_name" name="first_name" value="<%= account.first_name%>">
    <br>
    Last Name: <input id="last_name" name="last_name" value="<%= account.last_name %>">
    <br>
    <input type="submit">
</form>
</body>
</html>