<!DOCTYPE html>
<html>
<head>
    <title>Account - Add</title>
</head>
<body>
    <h1>Add New Account</h1>

    <form action="/account/insert" method="get">
        Email: <input name="email">
        <br>
        First Name: <input name="first_name">
        <br>
        Last Name: <input name="last_name">
        <br>
        <input type="submit">
    </form>
</body>
</html>