<!DOCTYPE html>
<html>
<head>
    <title>Resume - View All</title>
</head>
<body>
    <h1>Resumes</h1>
    <a href="/resume/add/selectuser">Create New Resume</a>
<br>
<table border="1">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Resume Name</th>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>