<!DOCTYPE html>
<html>
<head>
    <title>Resume - View All</title>
</head>
<body>
    <h1>Resumes</h1>
    <a href="/resume/add/selectuser">Create New Resume</a>
<br>
<table border="1">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Resume Name</th>
    <th>Actions</th>
    <% for (var i = 0; i < resumes.length; i++) { %>
    <tr>
        <td><%= resumes[i].first_name %></td>
        <td><%= resumes[i].last_name %></td>
        <td><%= resumes[i].resume_name %></td>
        <td><a href="">Edit</a> <a href="">Delete</a></td>
    </tr>
    <% } %>
</table>
</body>
</html>