<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to <%= title %> <%= subtitle%></p>
  <a href="http://cs.sonoma.edu/~haderman/">CS355</a>
  <br/><a href="/staticfile.html">Relative Link Example</a>
  <br /><a href="http://localhost:3000/staticfile.html">Absolute Link Example</a>
  <br/><a href="/template_example?first_name=Andrew&last_name=Langwell">Template Example</a>
  <br/><a href="/resume?first_name=Andrew&major=Computer Science&last_name=Langwell">Resume</a>
  </body>
</html>
