<!DOCTYPE html>
<html>
<head>
    <title>Address - Add</title>
</head>
<body>
<h1>Add New Address</h1>

<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= address.address_id %>">

    Street: <input id="street" name="street" value="<%= address.street %>">
    <br>
    Zip Code: <input id="zip_code" name="zip_code" value="<%= address.zip_code %>">
    <br>
    <input type="submit">
</form>
</body>
</html>