<!DOCTYPE html>
<html>
<head>
    <title>School - Add</title>
</head>
    <body>
        <h1>Add New School</h1>

        <form action="/school/insert" method="get">
            School Name: <input name="school_name">
            <br>
            <input type="submit">
        </form>
    </body>
</html>