<!DOCTYPE html>
<html>
<head>
    <title>School - View All</title>
</head>
<boddy>
    <h1>Schools</h1>
<a href="/school/add">Add New School</a>
    <br>
    <table border ="1">
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>


        <% for(var i = 0; i < schools.length; i++) { %>
        <tr>
            <td><%= schools[i].school_id %></td>
            <td><%= schools[i].school_name %></td>
            <td>
                <a href="/school/edit/?school_id=<%= schools[i].school_id%>">
                    Edit
                </a>
            </td>
        </tr>
        <% } %>
    </table>
</boddy>
</html>